<!DOCTYPE html>
<html>
<head>
    <title>Contact Us | HealthMate</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% include "navbar.html" %}

<div class="card">
    <h2>Contact Us</h2>
    <p>We’d love to hear from you!</p>

    <p><b>Email:</b> support@fitlife.com</p>
    <p><b>Phone:</b> +91 93928 10013</p>
    <p><b>Phone:</b> +91 98765 43210</p>
    <p><b>Phone:</b> +91 98765 43210</p>
    <p><b>Address:</b> FitLife HQ, India</p>
</div>

{% include "footer.html" %}

</body>
</html>
