<!DOCTYPE html>
<html>
<head>
    <title>Login | FitLife</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="center-page">
    <div class="card">
        <h2>Welcome Back</h2>
        <p>Login to continue</p>

        <form method="post">
            <input name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Login</button>
        </form>

        <a class="link" href="/register">Create account</a>
    </div>
</div>

</body>
</html>
