<!DOCTYPE html>
<html>
<head>
    <title>Reminders</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% include "navbar.html" %}
<div class="page-bg bg-reminder">

<div class="card">
    <h2>Reminders</h2>

    <form method="post">
        <input name="message" placeholder="Reminder message" required>
        <input type="time" name="time" required>
        <button>Add Reminder</button>
    </form>

    <hr>

    <h3>Your Reminders</h3>
    {% for r in reminders %}
        <p>⏰ {{ r[1] }} – {{ r[0] }}</p>
    {% else %}
        <p>No reminders set</p>
    {% endfor %}
</div>
</div>

{% include "footer.html" %}
</body>
</html>
